---
import TypeLink from "./TypeLink.astro";
import { parameterTypeLinkTitle } from "../../template";

interface Props {
    href: string;
    title: string | undefined;
}

const props = Astro.props;

const target = props.href.startsWith("http") ? "_blank" : "_self";

let CustomComponent = null;
if (props.title == parameterTypeLinkTitle) {
    CustomComponent = TypeLink;
}
---

{CustomComponent != null && <CustomComponent {...props} />}
{
    CustomComponent == null && (
        <a {...props} target={target}>
            <slot />
        </a>
    )
}
